*.mat
*.h5
*.pyc
*.npy
*.npz
*.png
*.jpg
*-checkpoint.ipynb
*~
*.swp

exp-*/data/*
exp-*/log/*
exp-*/results*/*
exp-*/caffemodel/*
exp-*/tfmodel/*
exp-*/__obsolete__/*
exp-referit/referit-dataset/*
result/*

*.caffemodel
*.tfmodel*
demo/*

*-Copy*.ipynb

checkpoint
models/convert_caffemodel/*
